@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is my web app about Magic: The Gathering</h2>
    <br />
    <img src="/images/card_back.jpeg" alt="Alternate Text" />
    <br />
</div>
<div>
    <h2 class="text-center">About</h2>
    <br />
    <p>Magic: The Gathering is a strategic trading card game where players use decks of spells, creatures, and artifacts to outplay their opponents. 
        Created in 1993 by mathematician and game designer Richard Garfield, Magic was the first trading card game of its kind and quickly grew in 
        popularity after its debut at the Gen Con game convention. Over the years, the game has evolved through hundreds of expansions, 
        introducing new mechanics and rich storylines, while building a dedicated global community that continues to shape its competitive and 
        casual play scenes.</p>
        <br />
    <img class="img-fluid mx-auto d-block" src="/images/magic_con.jpeg" alt="Alternate Text" />
    <br />
    <h2 class="text-center">Magic as a Hobby</h2>
    <br />
    <p>For me, Magic: The Gathering as a hobby is about collecting cards, building them into decks, and then playing casually against other people.
        I enjoy the strategic depth of the game, as well as the deck-building aspect that it brings. Magic can be played in several different formats 
        which differ in the number of cards allowed in a deck, the card pool that is legal for play, and the rules of the game. The cards themselves 
        range in styles and themes, which in the last years have started including things from outside of the universe of Magic. Two of the biggest 
        expansions recently have been based on The Lord of the Rings and Final Fantasy.
    </p>
</div>
